RIC/Web References/com.jobdiva.ws_BIData/BIData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.jobdiva.com/BIData/" name="BIData" targetNamespace="http://ws.jobdiva.com/BIData/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ws.jobdiva.com/BIData/">
      <xsd:element name="getBIData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="MetricName" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ClientID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Username" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Password" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="FromDate" type="xsd:date" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ToDate" type="xsd:date" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="Parameters" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getBIDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Message" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Data" type="tns:DataSet" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DataSet">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Columns" type="tns:ColumnNames" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Row" type="tns:RowData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ColumnNames">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Column" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RowData">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="RowData" type="tns:Pair" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Pair">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getBIDataResponse">
    <wsdl:part name="parameters" element="tns:getBIDataResponse" />
  </wsdl:message>
  <wsdl:message name="getBIDataRequest">
    <wsdl:part name="parameters" element="tns:getBIData" />
  </wsdl:message>
  <wsdl:portType name="BIData">
    <wsdl:operation name="getBIData">
      <wsdl:input message="tns:getBIDataRequest" />
      <wsdl:output message="tns:getBIDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BIDataSOAP" type="tns:BIData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getBIData">
      <soap:operation soapAction="http://ws.jobdiva.com/BIData/getBIData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIData">
    <wsdl:port name="BIDataSOAP" binding="tns:BIDataSOAP">
      <soap:address location="http://ws.jobdiva.com/axis2/services/BIData/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>